body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-family: "Teko", sans-serif;
  background-color: black;
}




/* d-md-block */

.main {
  height: 100vh;
  width: 100%;
}

.header {
  height: 12vh;
  width: 100%;
  background-color: black;
}

.header_clock {
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  height: 12vh;
}
.header_logo {
  height: 12vh;
}

.header_logo img {
  height: 10vh;
  margin: 1vh;
}
/* WEATHER */
.header_weather {
  height: 12vh;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 40px;
}

.weather-icon img {
  height: 8vh;
}

.header_weather-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* CAROUSEL */
.carousel {
  height: 43vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.imgcontainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  width: 100%;
}

.whole_img {
  display: block;
  position: relative;
  margin: 2px;
  width: 17vw;
  height: 42vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whole_img img {
  border-radius: 2px;
}

.top-img {
  background-color: rgba(119, 41, 236, 0.8);
  position: absolute;
  bottom: 85%;
  width: 75%;
  text-align: center;
  border-radius: 5px;
  font-size: 3vh;
  font-weight: 500;
}

.bottom-img {
  background-color: rgba(119, 41, 236, 0.8);
  position: absolute;
  bottom: 1vh;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  font-size: 3vh;
  font-weight: 400;
}

.carousel img {
  height: 42vh;
  width: 16%;
  margin: 1px;
  object-fit: cover;
  object-position: 10% 100%;
  padding: 0%;
}

/* FOOTER */

.footer {
  height: 45vh;
  display: flex;
  background-color: black;
}

.footer_flyer-tittle {
  height: 3vh;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

/* footer_staff-lg */
.footer_staff-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.carousel1 {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide1{
  margin-right: 50px;
}

.footer_staff-tittle {
  height: 3vh;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}



.staff_lg-image img {
  border: solid 2px #663399;
  border-radius: 4px;
  height: 36vh;
  width: 30%;
  margin-top: 40px;
  margin-right:70px ;
  margin-left: 70px;
 
}

.staff_lg-bottom-img {
  background-color: rgba(119, 41, 236, 0.8);
  position: absolute;
  bottom: 1vh;
  margin-left: 25%;
  width: 70%;
  text-align: center;
  border-radius: 5px;
  font-size: 3vh;
  font-weight: 400;
}
/* .carousel_staff-inner {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel_staff-slides img {
  height: 35vh;
  border: solid 3px #663399;
  border-radius: 3px;
} */

/* footer_breakfast-lg */

.footer_breakfast-tittle {
  height: 3vh;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}
.footer_barsQr-tittle {
  height: 3vh;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}



/* dinning restaurants */
.footer_dinnig-container {
  height: 45vh;
}
.footer_breakfast-container {
  height: 45vh;
}
.footer_staff-container {
  height: 45vh;
}
.footer_barsQr-container {
  height: 45vh;
}
.footer_flyer-container {
  height: 45vh;
}
.footer_dinning-tittle {
  height: 3vh;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}
.footer_dinnig-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 42vh;
}
.restaurant_name {
  font-family: "Teko", sans-serif;
  font-size: 2vh;
}
.restaurant_container {
  width: 48%;
  height: 30%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  border: solid 2px #9e65e0;
  border-radius: 4px;
  box-shadow: 2px 1px 1px rgba(231, 108, 231, 0.8);
  margin-left: 10px;
  font-family: "Varela", sans-serif;
}

.restaurants_inner {
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 4px;
  font-size: 18px;
  
}
.restaurants_inner img {
  height: 7vh;
  background-color: white;
  border-radius: 15px;
}
.logo-info {
  display: flex;
  flex-direction: row;
}
.logo-info > div {
  margin-left: 10px;
  right: 60px;
  width: 100%;
}
.logo-info img {
  height: 2vh;
  background-color: black;
}
.logo_info-container {
  display: flex;
  flex-direction: column;
}

/* breakfast and lunch */
.footer_breakfast-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 42vh;
  font-family: "Varela", sans-serif;
}
.restaurant_container-bf {
  width: 95%;
  height: 30%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  border: solid 2px #9e65e0;
  border-radius: 4px;
  box-shadow: 2px 1px 1px rgba(231, 108, 231, 0.8);

  font-family: "Varela", sans-serif;
}

/* barsqr */

.footer_barsQr-inner {
  height: 42vh;
  display: flex;

  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.ourbars_info-container {
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 24vh;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
}

.qr_container {
  display: flex;
  flex-direction: column;

  border-radius: 4px;
}

.qr {
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  width: 100%;
  height: 3vh;
  font-size: 30px;
  text-align: center;
}

.vector_qr {
  background-color: white;
}

.vector_qr img {
  margin: 10px;
  height: 10vh;
}

.scan_me {
  background-color: black;
  font-size: 23px;

  border-bottom: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* flyer */
.flyer-inner {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42vh;
}
.flyer img {
  height: 36vh;
}

/* d-md-block */

/* d-md-none */

/*carousel small*/

.carousel2 {
  margin-top: 10px;
}
.carousel_small-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel_small-image img {
  border: solid 2px #663399;
  border-radius: 4px;
  height: 75vw;
}

.top-img1 {
  background-color: rgba(119, 41, 236, 0.8);
  position: absolute;
  bottom: 85%;
  margin-left: 9%;
  width: 35%;
  text-align: center;
  border-radius: 5px;
  font-size: 3vh;
  font-weight: 500;
}

.bottom-img1 {
  background-color: rgba(119, 41, 236, 0.8);
  position: absolute;
  bottom: 1vh;
  margin-left: 6%;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  font-size: 3vh;
  font-weight: 400;
}

/*dinning_small*/

.dinnig_small {
  display: flex;
  flex-direction: column;
  height: 900px;
}

.footer_dinning-tittle2 {
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}
.footer_dinnig-inner2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 42vh;
}
.restaurant_name2 {
  font-family: "Teko", sans-serif;
  font-size: 4vw;
}
.restaurant_container2 {
  width: 93vw;
  height: 35vw;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  border: solid 2px #9e65e0;
  border-radius: 4px;
  box-shadow: 2px 1px 1px rgba(231, 108, 231, 0.8);
  font-family: "Varela", sans-serif;
}

.restaurants_inner2 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 4px;
  font-size: 14px;
}
.restaurants_inner2 img {
  height: 23vw;
  background-color: white;
  border-radius: 15px;
}
.logo-info2 {
  display: flex;
  flex-direction: row;
}
.logo-info2 > div {
  margin-left: 20px;
  right: 60px;
  width: 100%;
}
.logo-info2 img {
  height: 6vw;
  background-color: black;
}
.logo_info-container2 {
  display: flex;
  flex-direction: column;
}

.breakfast_small {
  height: 500px;
  display: flex;
  flex-direction: column;
}

/* barsQr_small */

.barsQr_small{
  display: flex;
  flex-direction: column;
  
}

.footer_barsQr-tittle0 {
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}
.footer_barsQr-inner0 {
  height: 450px;
  display: flex;

  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.ourbars_info-container0 {
 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 24vh;
}

.bar0 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
}

.qr_container0 {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.qr0 {
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

.vector_qr0 {
  background-color: white;
}

.vector_qr0 img {
  margin: 10px;
  height: 40vw;
}

.scan_me0 {
  background-color: black;
  font-size: 23px;
  border-bottom: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* flyer_small */

.flyer_small{
  display: flex;
  flex-direction: column;
}

.footer_flyer-tittle1 {
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

.flyer-inner {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42vh;
}
.flyer img {
  height: 36vh;
}

/* footer_staff-small */

.footer_staff-small{
  height: 400px;
}

.staff_small-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.staff_small-tittle {
  background: linear-gradient(rgb(160, 40, 204), rgb(54, 22, 160));
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
}

.staff-image img {
  border: solid 2px #663399;
  border-radius: 4px;
 
}

.staff_bottom-img {
  background-color: rgba(119, 41, 236, 0.8);
  position: absolute;
  bottom: 1vh;
  margin-left: 6%;
  width: 55%;
  text-align: center;
  border-radius: 5px;
  font-size: 3vh;
  font-weight: 400;
}